body{
    background: #e0e0e0;
    font-family: 'Inconsolata', monospace;
    margin: 0;
}

h1{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 15px;
}

h2{
    margin-top: 7px;
    font-weight: lighter;
    padding-bottom: 15px;
}

h3{
    padding-top: 10px;
    font-size:22px;
    font-family: 'Signika Negative', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.contact{
    margin: 2px 0;
    margin-bottom: 10px;
    font-size: 20px;
}

p{
    font-family: 'Lora', serif;
    font-size: 22px;
}

.heading{
    background-color: #128275;
    height: auto;
    width: 100%;
    margin: 0px auto;
}

/* .left-div{
    float: left;
    padding-left: 1%;
}

.right-div{
    float: right;
    width: 15%;
    font-size: 22px;
    padding-top: 2%;
} */

.about{
    transition-duration: 0.5s;
}

.about:hover{
    cursor: pointer;
    color: #95dbe5ff;
}

.home{
    transition-duration: 0.5s;
}

.home:hover{
    cursor: pointer;
    color: #95dbe5ff;
}

.footer{
    text-align: center;
    background-color: #128275;
    position: fixed;
    padding: 10px 10px 20px 10px;
    bottom: 0;
    width: 100%;
}

.found{
    padding: 3px 0;
    margin: 1px 0;
    margin-top: 5px;
}

.twitter-dm-button{
    color: blue;
    font-size: 22px;
    font-weight: bold;
}