<!DOCTYPE html>
<html>
<head>
    <title>Easy QR Generator</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='sample-images/favicon.ico') }}">
    <meta name="description" content="Generate colour, image, social media, artistic, customizable QR code easily with one click. Best QR code generator">
</head>
<body>
    <div class="heading">
        <center>
            <h1>Easy QR Generator</h1>
            <h2>Generate and scan QR with one click</h2>
        </center>
        <!-- <div class="right-div">
            <a class="about" href="{{ url_for('blog') }}">About QR</a>&emsp;&emsp;
            <a class="home" href='/'>Home</a>
        </div> -->
    </div>
    <div class="main_content" style="height: auto; overflow: hidden;">
        <h1>Blogs</h1>
<br>
        <h2 style="text-decoration: underline;">But what is QR Code?</h2>
        <p><a href="{{ url_for('what_is_qr') }}">
            QR codes, short for Quick Response codes, were first introduced by the Japanese barcode developer company Denso Wave...</p><span>Read more</span></a>
<br><br>
        <h2 style="text-decoration: underline;">Unlocking Creativity with Artistic QR Codes</h2>
        <p><a href="{{ url_for('artistic_qr') }}">
            In today's world, QR codes have become ubiquitous. They are used in a variety of ways, from product tracking to mobile payments. But beyond...</p><span>Read more</span></a>
<br><br>
        <a href="https://medium.com/towardsdev/artistic-qr-with-python-4cc7242d9353" style="color: blue; text-decoration: underline;">
            Read about how you can create artistic QRs with Python
        </a>
<br><br>
        <!-- <h2>Blog Post 3</h2>
        <p><a href="blog-post-3.html">Read More</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac quam eget massa ultricies semper vel et mauris.</p>

        <h2>Blog Post 4</h2>
        <p><a href="blog-post-4.html">Read More</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac quam eget massa ultricies semper vel et mauris.</p>

        <h2>Blog Post 5</h2>
        <p><a href="blog-post-5.html">Read More</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac quam eget massa ultricies semper vel et mauris.</p> -->
    </div>
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
</body>
</html>
