<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#128275">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M7L2KEG5Z7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M7L2KEG5Z7');
    </script>
    <title>Easy QR Generator</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='sample-images/favicon.ico') }}">
    <meta name="description" content="Generate colour, image, social media, artistic, customizable QR code easily with one click. Best QR code generator">
</head>
<body>
    <div class="heading">
        <center>
            <h1>Easy QR Generator</h1>
            <h2>Generate and scan QR with one click</h2>
        </center>
        <!-- <div class="right-div">
            <a class="about" href="{{ url_for('blog') }}">About QR</a>&emsp;&emsp;
            <a class="home" href='/'>Home</a>
        </div> -->
    </div>
    
    <div class="container" id="container">
        <!-- <a href="#"><div class="comp" id="one">
            <h3>QR Scan</h3>
            <img class="qr-scan" src="{{ url_for('static',filename='sample-images/scan-qr.png') }}" alt="QR">
            </div>
        </a> -->
        <a href="{{ url_for('basic') }}"><div class="comp" id="two">
            <h3>Basic QR</h3>
            <img class="basic-qr" src="{{ url_for('static',filename='sample-images/normal-qr.png') }}" alt="QR">
            </div>
        </a>
        <a href="{{ url_for('colour') }}"><div class="comp" id="three">
            <h3>Colour QR</h3>
            <img class="colour-qr" src="{{ url_for('static',filename='sample-images/colour-qr.png') }}" alt="QR">
            </div>
        </a>
        <a href="{{ url_for('sm') }}"><div class="comp" id="four">
            <h3>Social Media QR</h3>
            <img class="social-media-qr" src="{{ url_for('static',filename='sample-images/logo-qr.png') }}" alt="QR">
            </div>
        </a>
        <a href="{{ url_for('image') }}"><div class="comp" id="five">
            <h3>Image QR</h3>
            <img class="image-qr" src="{{ url_for('static',filename='sample-images/image-qr.png') }}" alt="QR">
            </div>
        </a>
        <!-- <a href="#"><div class="comp" id="six">
            <h3>About QR</h3>
            <img class="about-qr" src="{{ url_for('static',filename='sample-images/about-qr.png') }}" alt="QR">
            </div>
        </a> -->
    </div>
    
    <div class="footer">
        <h3 class="found">Found bug ?</h3>
        <p class="contact">Contact us</p>
        <a href="https://twitter.com/messages/compose?recipient_id=858342629699973121" class="twitter-dm-button" data-screen-name="@furni">@Siddharth1India</a>
        <br>
        <a href="{{ url_for('blog') }}" style="color: blue; text-decoration:underline;">Blog</a>
    </div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
</body>
</html>
