<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M7L2KEG5Z7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M7L2KEG5Z7');
    </script>
    <title>QR for Social Media</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='sample-images/favicon.ico') }}">
    <meta name="description" content="Generate QR code for various social media platforms easily, facebook, github, spotify, telegram, instagram, whatsapp, youtube, twitter, reddit. Best QR code generator">
</head>
<body>
    <div class="heading">
        <div class="left-div">
            <h1>Easy QR Generator</h1>
            <h2>Generate and scan QR with one click</h2>
        </div>
        <div class="right-div">
            <a class="about" href="{{ url_for('blog') }}">About QR</a>&emsp;&emsp;
            <a class="home" href='/'>Home</a>
        </div>
    </div>
    <div class="container" id="container">
        <a href="{{ url_for('facebook') }}"><div class="comp" id="one">
            <h3>Facebook</h3>
            <img class="qr-scan" src="{{ url_for('static',filename='sample-images/fb.png') }}" alt="Facebook QR">
            </div>
        </a>
        <a href="{{ url_for('telegram') }}"><div class="comp" id="two">
            <h3>Telegram</h3>
            <img class="basic-qr" src="{{ url_for('static',filename='sample-images/te.png') }}" alt="Telegram QR">
            </div>
        </a>
        <a href="{{ url_for('youtube') }}"><div class="comp" id="three">
            <h3>Youtube</h3>
            <img class="colour-qr" src="{{ url_for('static',filename='sample-images/yo.png') }}" alt="Youtube QR">
            </div>
        </a>
        <a href="{{ url_for('instagram') }}"><div class="comp" id="four">
            <h3>Instagram</h3>
            <img class="social-media-qr" src="{{ url_for('static',filename='sample-images/in.png') }}" alt="Instagram QR">
            </div>
        </a>
        <a href="{{ url_for('whatsapp') }}"><div class="comp" id="five">
            <h3>WhatsApp</h3>
            <img class="image-qr" src="{{ url_for('static',filename='sample-images/wh.png') }}" alt="WhatsApp QR">
            </div>
        </a>
        <a href="{{ url_for('twitter') }}"><div class="comp" id="six">
            <h3>Twitter</h3>
            <img class="about-qr" src="{{ url_for('static',filename='sample-images/tw.png') }}" alt="Twitter QR">
            </div>
        </a>
        <a href="{{ url_for('reddit') }}"><div class="comp" id="four">
            <h3>Reddit</h3>
            <img class="social-media-qr" src="{{ url_for('static',filename='sample-images/re.png') }}" alt="Reddit QR">
            </div>
        </a>
        <a href="{{ url_for('github') }}"><div class="comp" id="five">
            <h3>GitHub</h3>
            <img class="image-qr" src="{{ url_for('static',filename='sample-images/gi.png') }}" alt="GitHub QR">
            </div>
        </a>
        <a href="{{ url_for('spotify') }}"><div class="comp" id="six">
            <h3>Spotify</h3>
            <img class="about-qr" src="{{ url_for('static',filename='sample-images/sp.png') }}" alt="Spotify QR">
            </div>
        </a>
    </div>
    <div class="footer">
        <h3 class="found">Found bug ?</h3>
        <p class="contact">Contact us</p>
        <a href="https://twitter.com/messages/compose?recipient_id=858342629699973121" class="twitter-dm-button" data-screen-name="@furni">@Siddharth1India</a>
    </div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/social-media.css') }}">
</body>
</html>